<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <title><%= title %></title>
</head>
<body>

    <%- include('navbar') %>

    <!-- 
        Pantallas
        1. Pantalla de inicio (Primera página, presentación)
        2. Pantalla de login 
        3. Pantalla de registro
        4. Pantalla de productos (Muestra de productos para comprar)
        5. Pantalla de carrito (sumatorio de productos)
        8. Pantalla de ticket de compra (Pantalla al finalizaar la compra) * esta podría ser solo pdf
        7. Pantalla para agendar cita (Se agendan citas para atender a las mascotas)
        6. Pantalla de consulta de bases de datos (Consultor de Bases de datos)
    
    -->

